body {
    font-family: "Microsoft YaHei", "sans-serif", "Segoe UI", 
	"Roboto", "Ubuntu", "Cantarell", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol", "Noto Color Emoji", "NSimSun", "Arial";
}

h1 {
    color: blue;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #000;
	/* width: 100%; */
}

table th {
	border: 1px solid #000;
	background-color: #f0f0f0;
}

table td {
	border: 1px solid #000;
	padding: 2px;
}


